# Ignore Python bytecode cache
__pycache__/

# Ignore these folders
.vscode/
cache/
figures/

# Ignore PDF files
*.pdf

# Ignore PNG images
*.png

# Ignore these files
Fig2_Ben.ipynb
Fig2.ipynb
Fig3.ipynb
Fig4.ipynb
Fig5.ipynb
Fig6.ipynb